/* !=========== BASE-RESET ===========! */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* !=========== END BASE-RESET ===========! */

/* !=========== COMMON ===========! */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* !=========== END COMMON ===========! */

/* !=========== HEADER ===========! */

.page-header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #c4c4c4;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 32px;
  color: #2a2a2a;
}

.logo__accented {
  color: #ff2222;
}

.nav-list {
  display: flex;
}

.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.nav-list__link {
  color: #2a2a2a;
  font-size: 16px;

  transition: color 250ms linear;
}

.nav-list__link:hover,
.nav-list__link:focus {
  color: #ff2222;
}

/* !=========== END HEADER ===========! */
